@use "../../../styles/components/navigation-menu-styles.scss" as navStyles;
@use "../toolbar/toolbar.component.scss" as toolbar;

.navigation {
    position: absolute;
    z-index: 4;
    height: calc(100% - toolbar.$toolbar-height);
    min-width: navStyles.$menu-min-width;
    background-color: var(--mat-sys-surface-container-low);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;

        .item {
            width: 100%;

            &_element {
                display: flex;

                .navigation-button {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;

                    .icon {
                        font-size: navStyles.$menu-icon-size;
                        width: navStyles.$menu-icon-size;
                        height: navStyles.$menu-icon-size;
                    }
                }

                &.active {
                    background-color: var(--mat-sys-surface-container-high);
                }
            }
        }
    }
}
