<div class="form-editor">
  <div class="form-editor__header">
    <div class="form-editor__header__actions">
      <button matButton="outlined"
              (click)="onClose()">
        {{"Close"}}
      </button>
      <button matButton="filled"
              [disabled]="!canSaveForm()"
              (click)="onSave()">
        {{"Save"}}
      </button>
    </div>
  </div>
  @let layout = form();
  @if (layout){
  <div class="form-editor__editor">
    <div class="form-editor__editor__items">
      @for (group of presetsGroup(); track group.group) {
      <div class="component">
        <div class="component__title">{{group.group | translate}}</div>
        <div cdkDropList
             cdkDropListSortingDisabled
             cdkDropListHasAnchor
             class="component__presets"
             [cdkDropListData]="group.controls"
             [cdkDropListConnectedTo]="controlList">
          @for (preset of group.controls; track preset.id) {
          <div cdkDrag
               [cdkDragData]="preset"
               class="component__presets__preset">
            {{`Server.Layout.Form.Preset.${preset.id}` | translate }}
          </div>
          }
        </div>
      </div>
      }
    </div>
    <div #controlList="cdkDropList"
         cdkDropList
         [cdkDropListData]="controls()"
         (cdkDropListDropped)="onAddControl($event)"
         class="form-editor__editor__preview">
      @for (control of controls(); track control.id) {
      <div cdkDrag
           class="form-editor__editor__preview__control"
           [class.selected]="isSelected(control)"
           [class.changed]="control.updated"
           (click)="onClickControl(control)">
        <div class="control__data">
          <app-control-switch [control]="control" />
        </div>
        <div class="control__actions">
          <button matIconButton (click)="onRemove(control)">
            <mat-icon class="icon">close</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
    <div class="form-editor__editor__item-options">
      @let options = optionsForm();
      @if (options){
      <app-form [form]="options" (formChanged)="onChangedOptionsForm()" />
      }
    </div>
  </div>
  }
  @else {
  <app-loading />
  }
</div>