<div class="form-editor">
  <div class="form-editor__header">
    <div class="form-editor__header__actions">
      <button matButton="outlined"
              (click)="onClose()">
        {{"Close"}}
      </button>
      <button matButton="filled"
              [disabled]="!canSaveForm()"
              (click)="onSave()">
        {{"Save"}}
      </button>
    </div>
  </div>
  @let layout = form();
  @if (layout){
  <div class="form-editor__editor">
    <div class="form-editor__editor__items">
      <ng-container [ngTemplateOutlet]="components"
                    [ngTemplateOutletContext]="{title: 'Inputs', items: layout.components.inputs, translation: 'Server.Layout.Form.Input.Preset'}" />
      <ng-container [ngTemplateOutlet]="components"
                    [ngTemplateOutletContext]="{title: 'Dropdowns', items: layout.components.dropdowns, translation: 'Server.Layout.Form.Dropdown.Preset'}" />
      <ng-container [ngTemplateOutlet]="components"
                    [ngTemplateOutletContext]="{title: 'Buttons', items: layout.components.buttons, translation: 'Server.Layout.Form.Button.Preset'}" />
      <ng-container [ngTemplateOutlet]="components"
                    [ngTemplateOutletContext]="{title: 'Containers', items: layout.components.containers, translation: 'Server.Layout.Form.Container.Preset'}" />
      <ng-template #components let-title="title" let-items="items" let-translation="translation">
        <div class="component">
          <div class="component__title">{{title}}</div>
          <div class="component__presets">
            @for (item of items; track item) {
            <div class="component__presets__preset">{{item | translate:translation }}</div>
            }
          </div>
        </div>
      </ng-template>
    </div>
    <div class="form-editor__editor__preview">

    </div>
    <div class="form-editor__editor__item-options">

    </div>
  </div>
  }
  @else {
  <app-loading />
  }
</div>