:host {
    display: block;
    height: 100%;
    width: 100%;
}

.form-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &__header {
        background: var(--mat-sys-surface-container-high);
        border-bottom: var(--mat-card-outlined-outline-width) solid var(--mat-card-outlined-outline-color);
    }

    &__editor {
        display: flex;
        flex: 1;
        &__items,
        &__item-options {
            width: 25%;
            background-color: var(--mat-sys-surface-container);
        }
        &__items {
            border-right: var(--mat-card-outlined-outline-width) solid var(--mat-card-outlined-outline-color);
            padding: var(--ft-item-ident);
            gap: var(--ft-item-ident);
            display: flex;
            flex-direction: column;

            .component {
                &__title {
                    font-weight: 500;
                    font-size: 1.3em;
                    padding-bottom: var(--ft-item-ident);
                    cursor: default;
                }

                &__presets {
                    gap: var(--ft-item-ident);
                    display: inline-flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    flex-wrap: wrap;

                    &__preset {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        cursor: grab;
                        border: solid 1px var(--mat-sys-primary);
                        padding: 2px;
                    }
                }
            }
        }
        &__preview {
            flex: 1;

            &__control {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: var(--ft-item-ident);
                cursor: pointer;
                gap: var(--ft-item-ident);

                &.selected {
                    background-color: var(--ft-light-primary-color);
                }

                &.changed {
                    border-left: 3px solid var(--ft-warning-color);
                }

                &:hover {
                    background-color: var(--ft-lightest-primary-color);
                }

                .control {
                    &__data {
                        flex: 1;
                    }

                    &__actions {
                        padding-bottom: var(
                            --mat-form-field-subscript-text-line-height,
                            var(--mat-sys-body-small-line-height)
                        );
                    }
                }
            }
        }
        &__item-options {
            border-left: var(--mat-card-outlined-outline-width) solid var(--mat-card-outlined-outline-color);
        }
    }
}
