// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@use "./app/styles/_icon-button-styles.scss" as *;
@use "./app/styles/_button-styles.scss" as *;
@use "./app/styles/themes/light-theme.scss" as lightTheme;
@use "./app/styles/themes/dark-theme.scss" as darkTheme;

body {
  margin: 0;
  height: 100%;

  &.dark-theme,
  &.light-theme {
    --mat-icon-button-touch-target-size: 100%;
  }
}

@mixin themeConfig($theme) {
  @include mat.core-theme($theme);
  @include mat.button-theme($theme);
  @include mat.card-theme($theme);
  @include mat.icon-theme($theme);
  @include mat.icon-button-theme($theme);
  @include mat.system-level-colors($theme);
}

.dark-theme {
  @include themeConfig(darkTheme.$dark-theme);
  color-scheme: darkTheme;
}

.light-theme {
  @include themeConfig(lightTheme.$light-theme);
  color-scheme: lightTheme;
}

.ag-grid-angular {
  width: 100%;
  height: 100%;
}
