// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@use "./app/styles/_icon-button-styles.scss" as *;
@use "./app/styles/_button-styles.scss" as *;
@use "./app/styles/components/_mat-form-field-styles.scss" as *;
@use "./app/styles/themes/light-theme.scss" as lightTheme;
@use "./app/styles/themes/dark-theme.scss" as darkTheme;

:root {
  @include mat.system-level-typography(lightTheme.$light-theme);
}

body {
  margin: 0;
  height: 100%;

  &.dark-theme,
  &.light-theme {
    --mat-icon-button-touch-target-size: 100%;
  }
}

@mixin themeConfig($theme) {
  @include mat.all-component-themes($theme);
  @include mat.system-level-colors($theme);

  // --ft-button-filled-label-text-color: ;
  // --ft-button-filled-container-color
}

.dark-theme {
  @include themeConfig(darkTheme.$dark-theme);
  color-scheme: darkTheme;
}

.light-theme {
  @include themeConfig(lightTheme.$light-theme);
  color-scheme: lightTheme;
}

.ag-grid-angular {
  width: 100%;
  height: 100%;
}

/* Контейнер для тостов */
.toast-container .ngx-toastr {
  box-shadow:
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  // 0 3px 5px -1px rgba(0, 0, 0, 0.2),
  // 0 6px 10px 0 rgba(0, 0, 0, 0.14),
  // 0 1px 18px 0 rgba(0, 0, 0, 0.12); // Стандартная тень Material
  border-radius: var(--mat-sys-corner-extra-small); // Или 28px для стиля Material 3
  padding: 14px 8px 14px 16px;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  opacity: 1;

  font: var(--mat-sys-body-medium);
}

/* Стилизация по типам сообщений с использованием цветов Material */
.toast-success {
  background-color: #4caf50; // mat-color($mat-green)
}

.toast-error {
  background-color: var(--mat-sys-error); // mat-color($mat-red)
  color: var(--mat-sys-on-error);
}

/* Убираем стандартные иконки ngx-toastr, если хотите использовать MatIcons */
.toast-container .ngx-toastr {
  background-image: none !important;
}

.side-panel {
  display: flex;
  flex-direction: column;
  min-width: 30vw;
  height: 100vh;
  background: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);

  font: var(--mat-sys-body-medium);
}
