// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "sass:color";
@use "@angular/material" as mat;
@use "./app/styles/_icon-button-styles.scss" as *;
@use "./app/styles/_button-styles.scss" as *;
@use "./app/styles/components/_mat-form-field-styles.scss" as *;
@use "./app/styles/components/ag-grid-styles" as *;
@use "./app/styles/toast-styles" as *;
@use "./app/styles/materials/material-styles" as *;
@use "./app/styles/themes/light-theme.scss" as lightTheme;
@use "./app/styles/themes/dark-theme.scss" as darkTheme;

:root {
  @include mat.system-level-typography(lightTheme.$light-theme);
  --ft-item-ident: 10px;
}

body {
  margin: 0;
  height: 100%;

  &.dark-theme,
  &.light-theme {
    --mat-icon-button-touch-target-size: 100%;
  }
}

@mixin themeConfig($theme) {
  @include mat.all-component-themes($theme);
  @include mat.system-level-colors($theme);
  @include mat.system-level-shape($theme);
  // --mat-icon-button-icon-color: #{mat.get-theme-color($theme, primary)};
  --ft-remove-icon-color: #ff5555;
  --ft-icon-hover-color: color-mix(in srgb, var(--mat-sys-primary), white 25%);
  --ft-lightest-primary-color: color-mix(in srgb, var(--mat-sys-primary), transparent 95%);
  --ft-light-primary-color: color-mix(in srgb, var(--mat-sys-primary), transparent 92%);
}

.dark-theme {
  @include themeConfig(darkTheme.$dark-theme);
  color-scheme: darkTheme;
  --ft-warning-color: #fbbf24;
}

.light-theme {
  @include themeConfig(lightTheme.$light-theme);
  color-scheme: lightTheme;
  --ft-warning-color: #f59e0b;
}

.ag-grid-angular {
  width: 100%;
  height: 100%;
}

.side-panel {
  display: flex;
  flex-direction: column;
  min-width: 30vw;
  height: 100vh;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);

  font: var(--mat-sys-body-medium);
}

.full-screen-panel {
  width: 90vw;
  height: 90vh;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);

  font: var(--mat-sys-body-medium);
}
