<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Запись в файл -->
    <target xsi:type="File" name="allfile" fileName="${basedir}/logs/nlog-all-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    <!-- Вывод в консоль -->
    <target xsi:type="Console" name="logconsole" />
  </targets>

  <rules>
    <logger name="*" minlevel="${configsetting:item=NLog.MinLevel}" writeTo="logconsole,allfile" />
  </rules>
</nlog>