<div class="finances">
  <app-filters [filters]="filters()" (valueChanged)="onFilterChanged($event)" />
  <div class="actions">
    <div class="actions__left"></div>
    <div class="actions__right">
      <button matIconButton (click)="onAddItem()">
        <mat-icon class="icon">add</mat-icon>
      </button>
    </div>
  </div>
  <div class="finances__content">

    @for (dashboard of dashboards(); track dashboard.id) {
    <app-accordion (opened)="onOpened(dashboard.id)">
      <ng-content header>
        test
      </ng-content>
      <ng-content data>
        @if (getLoadedSignal(dashboard.id)) {
        <app-dashboard-panel [options]="dashboard.options" [items]="dashboard.items" />
        }
      </ng-content>
    </app-accordion>
    }

    <!-- <app-ag-grid [grid]="grid()" /> -->
  </div>
</div>