<div class="dashboard-editor">
  @if (items()) {
  <div class="dashboard-editor__action-panel">
    <button matIconButton (click)="onAddItem()">
      <mat-icon class="icon">add</mat-icon>
    </button>
    <button matButton="filled" (click)="onEditForm()">
      <mat-icon class="icon">assignment</mat-icon>
      Edit Form
    </button>
  </div>
  <div class="dashboard-editor__dashboard">
    <app-dashboard-panel [options]="options()"
                         [items]="items()"
                         (openItem)="onOpenItem($event)">
    </app-dashboard-panel>
  </div>
  }
</div>