<div class="form">
  @if (form()) {
  <div class="form__controls">
    @for (control of controls(); track control.id) {
    <app-control-switch [control]="control"
                        (controlChanged)="onControlChanged($event)"
                        (validChanged)="onValidChanged($event)" />
    }
  </div>
  <!-- <div class="form__actions">
    @for (action of actions(); track action.code) {
    @switch (action.code) {
    @case (actionCode.Save) {
    <button matButton="filled"
            (click)="onSave()">
      {{"Save"}}
    </button>
    }
    }
    }
  </div> -->
  }
</div>