<div class="layout-editor">
  @if (layoutManagement()){
  <div class="layout-editor__filters">
    <app-filters [filters]="filters()" (valueChanged)="onFilterValueChanged($event)"></app-filters>
  </div>
  @let editor = layoutEditor();
  <div class="layout-editor__content">
    @if (editor) {
    @for (item of editor.layoutItems; track item.tileCode) {
    @switch (item.data.type) {
    @case (itemType.Filter) {
    <app-filters-editor [filters]="item.data.filters"
                        [tileCode]="item.tileCode" />
    }
    @case (itemType.Grid) {
    <app-grid-editor [gridEntity]="item.data"
                     [tileCode]="item.tileCode" />
    }
    @case (itemType.Dashboard) {
    <app-dashboard-editor [dashboardLayout]="item.data.dashboardLayout"
                          [tileCode]="item.tileCode" />
    }
    @case (itemType.Form) {
    <div class="form-editor">
      <button matButton="filled" (click)="onEditForm(item.tileCode, item.data)">
        <mat-icon class="icon">assignment</mat-icon>
        Edit Form
      </button>
    </div>
    }
    }
    }
    }@else {
    <app-loading />
    }
  </div>
  }
  @else {
  <app-loading />
  }
</div>